__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
dist/
build/

.env
.venv
venv/
env/

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.ruff_cache/

.ipynb_checkpoints
.DS_Store

output/.venv/
__pycache__/
.DS_Store
